
<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div *ngIf="this.authService.isLoggedIn()">
        <div *ngIf="this.profile.id !== '00000000-0000-0000-0000-000000000000'; else profileCreate">
            <p>{{this.profile.name}}</p>
            <p>{{this.profile.bio}}</p>
            <p>{{this.profile.zipCode}}</p>

            @if (this.profile.role === 'Pet Parent') {
                <app-pet></app-pet>
            }

            @if (this.profile.role === 'Pet Groomer') {
                <app-profile-tag></app-profile-tag>
            }
        </div>
        
        <ng-template #profileCreate>
            <form [formGroup]="profileForm" (ngSubmit)="this.handleFormSubmit();">

            <mat-card class="form-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Tell Us About Yourself</mat-card-title>
                </mat-card-header>
                <mat-form-field style="margin-top: 5px;" appearance="outline"> 
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Bio</mat-label>
                    <input matInput formControlName="bio">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="zipCode">
                </mat-form-field>
                <div>
                    <button matButton="filled" type="submit" class="">Create Profile</button>
                </div>
            </mat-card>
            </form>
        </ng-template>
    </div>

</div>